/* App.css */

.App {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    cursor: pointer;
    display: block;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

p.result {
    font-size: 18px;
    margin-top: 10px;
}
